* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.starmain {
  float: left;
  width: 100%
}

.starmain ul {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0px;
  ;
}

.starmain ul li {
  float: left;
  width: auto;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.normalstar {
  color: rgb(47, 47, 49);
}

.normalstar.red {
  color: rgb(107, 247, 0);
}